<header class="cd-main-header">
    <div class="cd-fixed-bg">
        <div class="container">
            <div class="col-sm-5 col-xs-12 padding-top-30px" data-sr="wait 1.25s enter left over 1.5s">
                <img src="public/images/header-logo.png" alt="" class="img-responsive" id="img">
                <h1 id="h1">great work is the natural byproduct of happiness.</h1>
                <div id="btn"><a href="#/" class="btn-custom">learn more <span class="glyphicon glyphicon-circle-arrow-right"></span></a></div>
            </div>

            <div class="col-sm-7 col-xs-12 imgheader" data-sr="wait 1.25s enter right over 1.5s">
                <img src="public/images/placehold.gif" alt="" class="img-responsive" id="head-img">
            </div>
        </div>
    </div>
    <!-- cd-fixed-bg -->
</header>
<!-- cd-main-content -->
<section class="whatwedo" id="whatwedo">
    <div class="container">
        <div class="text-left" data-sr="enter left and move 50px over 1s">
            <h1 class="title">What we do</h1>
        </div>
        <div data-sr="wait 0.5s, enter bottom and move 50px over 1s">
            <p class="tag">Pconsectetur adipisicing elit. Ut quis, quaerat veniam cumque pariatur molestiae porro dolores numquam! Sunt ad, beatae laboriosam nemo pariatur voluptate. Ratione ad itaque quaerat qui? Sunt ad, beatae laboriosam nemo pariatur voluptate. Ratione ad itaque quaerat qui? Sunt ad, beatae laboriosam nemo pariatur voluptate. Ratione ad itaque quaerat qui?</p>
            <p class="tag">Pconsectetur adipisicing elit. Ut quis, quaerat veniam cumque pariatur molestiae porro dolores numquam! Sunt ad, beatae laboriosam nemo pariatur voluptate. Ratione ad itaque quaerat qui? Sunt ad, beatae laboriosam nemo pariatur voluptate. Ratione ad itaque quaerat qui? Sunt ad, beatae laboriosam nemo pariatur voluptate. Ratione ad itaque quaerat qui?</p>
        </div>
        <hr class="hr">

        <div class="text-center col-title" data-sr="wait 1s and then roll 45deg">
            <h1 class="h1col">LOREM IPSUM</h1>
            <p class="pcol">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt delectus harum, sae</p>
        </div>
        <div data-sr="wait 1s, enter right and move 50px over 1.5s">
            <div class="col-sm-6">
                <img src="public/images/idea.jpg" alt="" class="img-responsive">
            </div>
            <div class="col-sm-6">
                <p class="tag-title">idea</p>
                <p class="tag-description">iorem ipsum dolor sit amet, consectetur adipisicing elit. Ut harum explicabo minus voluptas quaerat, sequi dicta nemo quam laboriosam alias repellat voluptate doloremque adipisci, itaque, inventore voluptates. Eos, soluta, magnam.ipsum dolor sit amet, consectetur adipisicing elit. Ut harum explicabo minus voluptas quaerat, sequi dicta nemo quam laboriosam alias repellat voluptate doloremque adipisci, itaque, inventore voluptates. Eos, soluta, magnam.</p>
            </div>
        </div>
        <div class="clearfix"></div>

        <hr class="hr">
        <div data-sr="wait 1s, enter left and move 50px over 1.5s">
            <div class="col-sm-6">
                <p class="tag-title">programming</p>
                <p class="tag-description">porem ipsum dolor sit amet, consectetur adipisicing elit. Ut harum explicabo minus voluptas quaerat, sequi dicta nemo quam laboriosam alias repellat voluptate doloremque adipisci, itaque, inventore voluptates. Eos, soluta, magnam.ipsum dolor sit amet, consectetur adipisicing elit. Ut harum explicabo minus voluptas quaerat, sequi dicta nemo quam laboriosam alias repellat voluptate doloremque adipisci, itaque, inventore voluptates. Eos, soluta, magnam.</p>
            </div>

            <div class="col-sm-6">
                <img src="public/images/code.jpg" alt="" class="img-responsive">
            </div>
        </div>

        <div class="clearfix"></div>

        <hr class="hr">

        <div data-sr="wait 1s, enter right and move 50px over 1.5s">
            <div class="col-sm-6" data-sr="enter right over 1.5s">
                <img src="public/images/laptop.jpg" alt="" class="img-responsive">
            </div>
            <div class="col-sm-6">
                <p class="tag-title">Service</p>
                <p class="tag-description">Sorem ipsum dolor sit amet, consectetur adipisicing elit. Ut harum explicabo minus voluptas quaerat, sequi dicta nemo quam laboriosam alias repellat voluptate doloremque adipisci, itaque, inventore voluptates. Eos, soluta, magnam.ipsum dolor sit amet, consectetur adipisicing elit. Ut harum explicabo minus voluptas quaerat, sequi dicta nemo quam laboriosam alias repellat voluptate doloremque adipisci, itaque, inventore voluptates. Eos, soluta, magnam.</p>
            </div>
        </div>
    </div>
</section>


<!-- <section class="jointhecause">
    <div class="container">
        <h1>Join the Cause!</h1>
        <blockquote>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eget leo nunc, nec tempus mi? Curabitur id nisl mi, ut vulputate urna. Quisque porta facilisis tortor, vitae bibendum velit fringilla vitae! Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eget leo nunc, nec tempus mi? Curabitur id nisl mi, ut vulputate urna. Quisque porta facilisis tortor, vitae bibendum velit fringilla vitae!
        <cite>Somebody famous</cite>
        </blockquote>
    </div>
  </section>  -->

<!--   <section class="about-us">
    <div class="container">
      <div class="text-center">
        <h1 class="title">about us</h1> 
      </div>
        <p>
          <span class="special-text">Pinoy Programmers League</span> is an online non-profit organization for professional programmers that aims to promote excellence, global-awareness, intelligence, passion and commitment of Filipinos to the development of IT and programming in the Philippines - through Computing and Engineering; while patronizing the effectiveness of computer programs towards a better and fast-changing world.
        </p>
        <a href="#" class="btn-custom-primary">know us better <span class="glyphicon glyphicon-circle-arrow-right"></a>
    </div>
  </section> -->

<section class="contact-icon" data-sr="wait 0.5s">
    <div class="container">
        <ul>
            <li><a href="https://www.facebook.com/groups/pinoyprogleague/" class="btn-circle-link social-icon"><i class="fa fa-facebook fa-2x"></i></a></li>
            <li><a href="https://twitter.com/pinoyprogleague" class="btn-circle-link social-icon"><i class="fa fa-twitter fa-2x"></i></a></li>
            <!--<li><a href="#" class="btn-circle-link social-icon"><i class="fa fa-google-plus fa-2x"></i></a></li>-->
            <!--<li><a href="https://www.youtube.com/user/PinoyProgLeague" class="btn-circle-link social-icon"><i class="fa fa-youtube fa-2x"></i></a></li>-->
            <li><a href="https://github.com/pinoyprogleague/" class="btn-circle-link social-icon"><i class="fa fa-github fa-2x"></i></a></li>
        </ul>
    </div>
</section>
