body {
    background-color: white;
    font-size: 14px;
}
/*GLOBAL CSS*/
.btn-custom {
    padding: 10px 23px 10px 23px;
    /*background-color: transparent;*/
    background-color: #2C3850;
    border: 2px solid #ffffff;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
    -webkit-transition: all ease-in-out 0.3s;
    -moz-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
}

    .btn-custom .glyphicon {
        margin-left: 10px;
        -webkit-transition: all ease-in-out 0.3s;
        -moz-transition: all ease-in-out 0.3s;
        -o-transition: all ease-in-out 0.3s;
        transition: all ease-in-out 0.3s;
    }

    .btn-custom:hover {
        background-color: #d63431;
        text-decoration: none;
        color: #ffffff;
    }

        .btn-custom:hover .glyphicon {
            -webkit-transform: translate3d(3px, 0, 0);
            -moz-transform: translate3d(3px, 0, 0);
            -o-transform: translate3d(3px, 0, 0);
            transform: translate3d(3px, 0, 0);
        }
/*END OF GLOBAL CSS*/

/*OVERRIDING BOOTSTRAP*/
.navbar-default {
    background-color: #ffffff;
    border-color: #232e32;
    -webkit-transition: all ease-in-out 0.5s;
    -moz-transition: all ease-in-out 0.5s;
    -o-transition: all ease-in-out 0.5s;
    transition: all ease-in-out 0.5s;
    -webkit-transform: translate3d(0, -100%, 0);
    -moz-transform: translate3d(0, -100%, 0);
    -o-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
}

.navbar {
    min-height: 67px;
}

.navbar-default .navbar-brand {
    float: left;
    height: 50px;
    padding: 3px 15px;
    font-size: 18px;
    line-height: 20px;
}

.navbar-default .navbar-nav > li > a {
    -webkit-transition: all ease-in-out 0.3s;
    -moz-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
    color: #525151;
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 24px;
    padding-bottom: 24px;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #000000;
    background-color: transparent;
    height: 50px;
    border-top: 3px solid #ff0500;
    position: relative;
    line-height: 1;
}

.dropdown-menu {
    text-transform: uppercase;
    font-size: 13px;
    border-radius: 0px;
}
/*END OF OVERRIDING BOOTSTRAP*/

/*START OF BANNER*/
.banner {
    background: url(../images/banner.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100%;
    position: relative;
}

    .banner .banner-content {
        color: #ffffff;
        min-height: 100%;
        padding: 47px 0px 70px 0px;
        margin: 0 auto !important;
        text-align: center;
    }

.scroll-down a {
    color: #ffffff;
}

.scroll-down {
    font-size: 60px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.banner img {
    margin: 0 auto;
    display: block;
}

.banner h1 {
    font-size: 27px;
    font-weight: bold;
    font-style: italic;
    max-width: 500px;
    margin: 0 auto;
    margin-top: 60px;
    letter-spacing: 5px;
    line-height: 1.5;
    margin-bottom: 30px;
}
/*END OF BANNER*/

@media only screen and (max-width: 767px) {
    /*OVERRIDING BOOTSTRAP*/
    .navbar-default .navbar-toggle {
        border-color: transparent;
        margin-top: 14px;
    }

    .navbar-collapse {
        margin-top: 9px;
    }

    .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
        border-top: none;
    }

    .navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
        max-height: 100%;
    }

    .navbar-default .navbar-nav > li > a {
        -webkit-transition: all ease-in-out 0.3s;
        -moz-transition: all ease-in-out 0.3s;
        -o-transition: all ease-in-out 0.3s;
        transition: all ease-in-out 0.3s;
        color: #525151;
        text-transform: uppercase;
        font-weight: bold;
        padding-top: 12px;
        padding-bottom: 12px;
    }

    .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
        color: #999999;
        height: 44px;
        border-top: none;
    }

    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
        background-color: transparent;
    }

    .navbar-toggle .icon-bar {
        width: 24px;
        height: 3px;
        border-radius: 0px;
    }
    /*END OVERRIDING BOOTSTRAP*/
    .banner img {
        width: 50%;
    }

    .banner .banner-content {
        padding: 40px 0px 70px 0px;
    }

    .banner h1 {
        font-size: 23px;
        margin-top: 25px;
    }
}

@media only screen and (max-width: 500px) {
    .banner img {
        width: 80%;
    }

    .banner h1 {
        font-size: 19px;
        margin-top: 25px;
    }
}


/*START OF WHAT WE DO*/
.whatwedo .container {
    margin-top: 50px;
}

.whatwedo h1 {
    font-size: 34px;
    font-weight: bold;
    line-height: 43px;
}

.whatwedo h2 {
    font-size: 27px;
    line-height: 39px;
    margin-bottom: 10px;
    font-weight: lighter;
}

.whatwedo p {
    background-color: rgba(255,0,0,0.3);
    border-left: 5px solid red;
    padding: 15px;
    color: black;
    margin-bottom: 5px;
    letter-spacing: .3px;
    font-size: 110%;
    text-align: justify;
}

    .whatwedo p::first-letter {
        float: left;
        color: #d63431;
        font-size: 75px;
        line-height: 60px;
        padding-top: 4px;
        padding-right: 8px;
        padding-left: 3px;
        margin-left: 5px;
    }

.whatwedo h2::first-letter {
    font-size: 130%;
}

.whatwedo hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
}

.whatwedo .content {
    margin: 20px 1px 0 1px;
    padding: 10px;
    /*-webkit-box-shadow: 2px 2px 10px -2px rgba(0,0,0,.5);
	-moz-box-shadow: 2px 2px 10px -2px rgba(0,0,0,.5);
	box-shadow: 2px 2px 10px -2px rgba(0,0,0,.5);*/
}

.whatwedo .graphic {
    height: 250px;
}

    .whatwedo .graphic img {
        position: absolute;
        margin: auto;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        max-height: 250px;
        max-width: 400px;
    }

@media only screen and (max-width: 480px) {
    .whatwedo .graphic img {
        max-width: 280px;
        max-height: 230px;
    }
}

/*END OF WHAT WE DO*/



/* START OF JOIN THE CAUSE*/
.jointhecause {
    background: #2C3850;
}

    .jointhecause h1:first-of-type {
        font-size: 30px;
        font-weight: bold;
        line-height: 43px;
        color: #d63431;
    }

    .jointhecause .container {
        margin-top: 50px;
        padding: 20px;
    }


    .jointhecause blockquote {
        font-family: Georgia, serif;
        font-size: 23px;
        font-style: italic;
        width: 100%;
        margin: 0.25em 0;
        padding: 0.25em 40px;
        line-height: 1.45;
        position: relative;
        color: black;
        text-align: justify;
    }

        .jointhecause blockquote:before {
            display: block;
            content: "\201C";
            font-size: 80px;
            position: absolute;
            left: -20px;
            top: -20px;
            color: white;
        }

        .jointhecause blockquote:after {
            display: block;
            content: "\201D";
            font-size: 80px;
            position: absolute;
            bottom: -20px;
            right: -15px;
            color: white;
        }

        .jointhecause blockquote cite {
            color: white;
            font-size: 14px;
            display: block;
            margin-top: 5px;
        }

            .jointhecause blockquote cite:before {
                content: "\2014 \2009";
            }

@media only screen and (max-width: 768px) {
    .jointhecause blockquote {
        font-size: 19px;
    }
}
/*END OF JOIN THE CAUSE*/

.about .container {
    margin-top: 50px;
}

.about h1 {
    font-size: 30px;
    font-weight: bold;
    line-height: 43px;
}

.about span.special-text {
    color: #d63431;
    font-size: 150%;
    font-weight: bold;
}

.about p {
    font-weight: 500;
    text-align: justify;
}





.btn-circle-link {
    display: block;
    width: 80px;
    height: 80px;
    border-radius: 50px;
    text-align: center;
    padding: 10px;
    color: white;
}

    .btn-circle-link:hover {
        color: #d63431;
        background-color: white;
        border: #d63431 solid 1px;
    }

.facebook-icon {
    background-color: #3b5998;
    color: white;
}
